@import "tailwindcss";

@layer components {
  .btn {
    @apply bg-blue-300 text-black font-semibold px-6 py-2 rounded;
  }
  .input {
    @apply bg-slate-800  text-white p-2 font-medium border-2 border-slate-600;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
